<launch>
  <!-- you may need to change your robot spawning position -->
  <arg name="model" default="burger"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>

  <!-- Add here lines that will launch Gazebo with your custom Gazebo world. -->


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_model)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!--Remember that you can change the default xyz position where the robot is spawned in the Gazebo world-->

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>
